<p id="message_intro">
Συμπληρώνοντας αυτήν τη φόρμα θα στείλετε ένα ηλεκτρονικό μήνυμα, στην γλώσσα σας, σε όλους τους εκπρωσώπους της χώρας σας στο  ευρωπαικό κοινοβούλιο.
Ζητήστε από αυτούς να απαιτήσουν από τηνΜαροκινή κυβέρνηση την κατάπαυση κάθε είδους βίας ενάντια στονπληθυσμό της Δυτικής Σαχάρας με <%= link_to "τις δικές σας  α
αιτιάσεις", root_url %>. Παρακαλούμε να είστε ευγενείς ώστε ναγίνουν δεκτά τα αιτήματά σας.</p>
