<p id="message_intro">
By filling this form you will send an e-mail, in your own language, to
all of your country's representatives in the European Parliament. Ask them to require the
Moroccan government the cessation of all kind of violence against the
Sahrawi population, and <%= link_to "your own demands", root_url %>.
Please be polite in order to get your petitions heard.</p>
