<p id="message_intro">Rellenando el siguiente formulario puedes enviar un mensaje a todos tus representantes en el Europarlamento, pídeles que exijan al gobierno marroquí el cese de la violencia contra la población saharaui además de <%= link_to "tus demandas", root_url %>. Escríbeles lo que consideres oportuno pero sé respetuoso, solo de esta manera nuestras peticiones serán escuchadas.</p>
