<p id="message_intro">
Enchendo o seguinte formulario podes enviar unha mensaxe a todos os teus  representantes no Europarlamento, pídelles que esixan ao goberno  marroquíno o cese da violencia contra da poboación saharauí ademáis de… <%= link_to "as tuas demandas", root_url %>. Escríbelles o que coides oportuno máis sé educado, somente desta maneira as nosas peticións terán de ser escoitadas.</p>
