<p id="message_intro">Durch die AusfŸllung dieses Formulars schicken Sie eine E-Mail, in Ihrer eigenen Sprache, an alle in Ihrem Land Vertreter im EuropŠischen Parlament. Bitten Sie, die marokkanische Regierung die Einstellung aller Art von Gewalt gegen die saharauischen Bevšlkerung zu nehmen und <%= link_to "eigene AnsprŸche", root_url %>. Bitte seien Sie hšflich um Ihre Petitionen erhalten zu hšren.</p>

