<p id="message_intro">Ved at udfylde denne formular, sender du en email på dit eget sprog
til alle dit lands repræsentanter i Europaparlamentet. Bed dem om at
kræve, at den marokanske regering stopper al vold mod
saharawi-befolkningen - og tilføj <%= link_to "dine egne krav", root_url %>. 
Vær høflig, så dit brev bliver hørt.</p>

