<p id="message_intro">
En remplissant ce formulaire vous envoyez un message à tout vos représentants au parlement européen afin de leur demander qu'ils exigent au
gouvernement marocain de cesser la violence contre la population saharaui et qu'ils prennent en considération <%= link_to "vos autres demandes", root_url %> politiques concernant le conflit saharaui.
Vous pouvez leur écrire ce que vous considérez opportun mais restez respectueux, seulement ainsi nos pétitions pourront être entendues.</p>
