<p id="message_intro">
Door dit formulier in te vullen kun je een mail sturen naar al je
vertegenwoordigers in het Europees Parlement. Vraag hen dat zij de
Marokkaanse regering eisen het geweld tegen de Saharawische bevolking
<%= link_to "stop te zetten", root_url %>. Schrijf hen wat je opportuun vindt maar wees
eerbiedig, alleen op die manier zullen onze verzoeken worden
aangehoord.</p>