<p id="message_intro">
Door dit formuiler in te vullen stuur je een email in je eigen taal aan de vertegenwoordigers van jouw eigen land in het Europarlement. Vraag ze om de Marokkaanse regering te verzoeken om al het geweld tegen de Sahrawi-bevolking te stoppen, en  <%= link_to "je eigen verzoeken", root_url %>. Wees alsjeblieft netjes en beleefd, om de kans te vergroten dat je bericht gelezen wordt.</p>
