<p id="message_intro">
Ondoko formulario betez gero, zeure eskaerez gain, Europarlamentuko zure ordezkari guztiei mezu bat bidali ahalko diezu Marokoko Gobernuak Saharar populazioaren kontra egiten duen <%= link_to "bortizkeria gelditzeko", root_url %>. Nahi duzuna idatz dezakezu baina egizu beti errespetuz, halaxe bakarrik izango dute aukera gure eskaerak entzunak izateko.</p>
