<p id="message_intro">
Preenchendo o formulário pode enviar uma mensagem a todos os seus
representantes no Parlamento Europeu, pedindo-lhes que exigam ao 
governo marroquino que cesse a violência contra a população saharaui 
para além de <%= link_to "outras exigências", root_url %>.

Escreva-lhes o que considere oportuno utilizando uma linguagem 
educada, só assim será dada atenção às nossas petições.</p>

