<p id="message_intro">
Wypełniając ten formularz wyślesz wiadomość we własnym języku do wszystkich
reprezentantów twojego kraju w Parlamencie Europejskim. Poproś ich <%= link_to "we własnych słowach", root_url %>
, aby zażądali od marokańskiego rządu zawieszenia wszelkich form
przemocy przeciwko mieszkańcom Sahary.
Proszę, bądź uprzejma(y), aby te petycje odniosły skutek.</p>
