<p id="message_intro">Durch die Ausfüllung dieses Formulars schicken Sie eine E-Mail, in Ihrer
eigenen Sprache, an alle in Ihrem Land Vertreter im Europäischen Parlament.
Bitten Sie, die marokkanische Regierung die Einstellung aller Art von Gewalt
gegen die saharauischen Bevölkerung zu nehmen und <%= link_to "eigene Ansprüche", root_url %>. Bitte seien
Sie höflich um Ihre Petitionen erhalten zu hören.</p>

