<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>Il tuo sito web può partecipare attivamente: puoi essere parte della rete di blog e siti web che richiedono l'invio di email per fermare il massacro che si svolge nel deserto del Sahara.</p>

<p>Se volete inserire questo modulo nel vostro sito web, basta creare una nuova voce nel blog (Wordpress, Drupal, SPIP o qualsiasi altro) che spiega la campagna. Quindi copiare il seguente <a href="/resources/htmlformen.txt">codice HTML</a> in questa nuova voce (tenere conto che potrebbe essere necessario attivare "full html" codice). È importante chiedere la cortesia e la chiarezza nei loro messaggi (sono inviati dall'indirizzo di posta elettronica dell'utente), in modo di aumentare la loro efficacia. Si prega di tenere il vostro blog visibile per tutta la durata della campagna.</p>
