<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>Jouw web page kan het centrum van de actie zijn, we zullen honderden o
duizenden blogs zijn die vragen mails te versturen en het bloedbad dat
zich in de Westerse Sahara voordoet, te stoppen.</p>

<p>Als je ons formulier aan jouw eigen web page wil toevoegen, voeg dan
een berichtje aan de homepage van je blog (Wordpress, Drupal, SPIP of
welke ook) met uitleg ivm de actie en met het verzoek om beleefdheid
en klaarheid in hun berichten (die worden verstuurd vanaf hun eigen
email adres). Kopieer hiertoe in je nieuw bericht de volgende <a href="/resources/htmlformvls.txt">html
code</a> die het formulier integreert. Kleef het bericht in je homepage en
geef het voldoende zichtbaarheid tijdens de dagen van de actie.</p>
