<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>Integrer denne formular på din hjemmeside:</p>

<p>Din hjemmeside kan deltage aktivt: Bliv en del af det netværk af blogs
og hjemmesider, som beder folk om at sende emails for at stoppe den
massakre, som foregår i Vestsahara.</p>

<p>Hvis du vil sætte denne formular på din hjemmeside, så lav et nyt
indlæg (i Wordpress, Drupal, SPIP eller hvad du nu bruger), hvor du
forklarer om kampagnen. Derefter kan du kopiere den følgende
<a href="/resources/htmlformda.txt">HTML-kode</a>
ind i indlægget (bemærk at du måske er nødt til at tillade
HTML-koder). Det er vigtigt at bede folk om at fatte sig klart, kort
og høfligt i deres beskeder (de bliver sendt fra deres egen
email-adresse) for at gøre kampagnen mere effektiv. Hold dit
blog-indlæg synligt gennem hele kampagnen.</p>
