<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>A tua página na net pode ser o centro da acção, seremos centenas ou milhares de
blogs que apelam ao envio de e-mails e param o massacre que está a acontecer no
Sáhara.</p>

<p>Se queiser integrar o nosso formuláriono na sua pagina ou blog acrescente uma
noticia no portal do seu blog (Wordpress, Drupal, SPIP ou outro)
explicando a acção, pedindo a todos os que enviem mensagens que o façam de forma
educada (faz-se a partir do seu endereço de e-mail) e que sejam claros na sua exposição
para esta seja efectiva.<br />
Para isso copie na nova mensagem o seguinte 
<a href="/resources/htmlformpt.txt">código HTML</a> que integrará o
formulario. Coloque a noticia na sua página principal bem visivel durante os
dias que dura a acção.</p>

