<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>A tua páxina web pode selo centro da acción, seremos centos ou  miles de blogs que pidan o envío de correos e deteñan a masacre que se  está a producir no Sahara.</p>

<p>Con sinxeleza, si queres integrar o noso formulario no teu sitio web  engade unha nova á portada do teu blog (Wordpress, Drupal, SPIP ou o  que sexa) explicando a acción, pedindo educación aos que manden a  mensaxe (se fai dende a sua propia dirección de correo) e claridade no  que envían para que sexa efectivo. Para elo copia na nova noticia o  seguinte <a href="/resources/htmlformgl.txt">código HTML</a> que integrará o formulario. Pon a nova na tua páxina principal ben visible durante os días que dure a acción.</p>
