<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>Ihre Website kann aktiv teilnehmen: Seien Sie ein Teil des Netzes von Blogs und
Webseiten, auf die Emails an das Massaker, das in der Sahara ist gehalten,
stoppen fragen.</p>

<p>Wenn Sie dieses Formular in Ihre Website einbinden möchten, erstellen Sie
einfach einen neuen Eintrag über die Kampagne in Ihrem Blog (Wordpress, Drupal,
SPIP oder andere). Dann kopieren Sie den folgenden <a href="/resources/htmlformde.txt">HTML-Code</a> in diesen neuen
Eintrag (berücksichtigen Sie, dass Sie damit "FULL HTML"-Code benötigen). Es
ist wichtig, für Höflichkeit und Klarheit in ihren Nachrichten zu fragen (sie
sind aus der eigenen E-Mail Adresse gesendet), um ihre Wirksamkeit zu erhöhen.
Bitte halten Sie Ihre Blog-Eintrag sichtbar während der Dauer der Kampagne.</p>
