<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>Tu página web puede ser el centro de la acción, seremos cientos o miles de blogs que pidan el envío de correos y paren la masacre que se está produciendo en el Sáhara.</p>

<p>Simplemente, si quieres integrar nuestro formulario en tu sitio web añade una noticia a la portada de tu blog (Wordpress, Drupal, SPIP o el que sea) explicando la acción, pidiendo educación a los que manden el mensaje (se hace desde su propia dirección de correo) y claridad en lo que envían para que sea efectivo. Para ello copia en la nueva noticia el siguiente <a href="/html_form.es.txt">código HTML</a> que integrará el formulario. Pon la noticia en tu página principal bien visible durante los días que dura la acción.</p>
