<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>Jouw website kan actief meedoen aan de campagne: word een deel van de groep weblogs en sites die dit formulier bevat en dus petities verstuurd aan het Europarlement. Doe mee en stop het bloedbad in de Westelijke Sahara!</a>

<p>Als je dit formulier in wilt voegen in je website, kan je gewoon een nieuwe post aan in je weblog (Wordpress, Drupal, SPIP of andere) waarin je uitlegt wat de campagne precies inhoudt. Daarna kan je de volgende <a href="/resources/htmlformnl.txt">HTML-code</a> in je weblog-berichtje invoegen (je moet misschien de optie "volledige HTML" inschakelen). Het is belangrijk dat je vraagt om beleefdheid en helderheid in de emails die verzonden gaan worden, om de effectiviteit te vergroten. Houd alsjeblieft het weblog-berichtje zichtbaar zo lang de campange duurt.</p>
