<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>Zure Web orria ekimenaren erreferentzia izan daiteke. Mezuak bidaliko ditugun eta Saharan gertatzen ari den sarraskia geratzeko eskatuko dugun ehunka edo milaka web orri eta blogak izango gara.</p>

<p>Gure formulario integratu nahi  baduzu zure webgunean bakarrik berri bat gehitu behar duzu zure blogeko azalean (Wordpress, Drupal, SPIP edo dena delakoa) ekimena azaltzen eta mezua bidaliko dutenei (beraien korreotik egingo dute) errespetua eta argitasuna eskatzen eraginkorra izateko. Horretarako, itsatsi egin duzun berri hartan ondoko <a href="/resources/htmlformeus.txt">HTML kodea</a> eta formularioa integratuko da. Jarri berria zure orri nagusian ahalik eta ikusgarrien, ekintza iraungo duen bitartean.</p>
