<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>Twoja strona internetowa może aktywnie uczestniczyć: bądź częścią sieci blogów
oraz stron internetowych zwracających się o wysyłanie e-maili z apelem o
zatrzymanie masakry która trwa na Saharze.</p>

<p>Jeśli chcesz umieścić ten formularz na swojej stronie, po prostu stwórz nowy
wpis na swoim blogu (Wordpress, Drupal, SPIP albo jakikolwiek inny) opisujący
kampanię. Następnie wklej poniższy <a href="/resources/htmlformpl.txt">kod HTML</a> (Być może będziesz musiał(a)
włączyć funkcję wsparcia pełnego kodu HTML).
Bardzo ważne jest też aby poprosić o grzeczność i jasność wysyłanych wiadomości
(są one wysyłane z własnego adresu e-mail użytkownika) aby zwiększyć ich
efektywność.
Spraw aby twój wpis był widoczny w ciągu całego czasu trwania kampanii.</p>
