<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>La teva pàgina web pot ser el centre de l'acció, serem centenars o milers de blocs que demanin l'enviament de correus i aturin la massacre que s'està produint en el Sàhara.</p>

<p>Simplement, si vols integrar el nostre formulari en el teu lloc web afegeix una notícia a la portada del teu bloc (Wordpress, Drupal, SPIP o el que sigui) explicant l'acció, demanant educació als que manin el missatge (es fa des de la seva pròpia adreça de correu) i claredat en el que envien perquè sigui efectiu. Per això còpia en la nova notícia el següent <a href="/resources/htmlformcat.txt">codi HTML</a> que integrarà el formulari. Posa la notícia a la teva pàgina d'inici ben visible durant els dies que dura l'acció.</p>
