<% @title = t(:integrate_the_form_in_your_website) %>

<h2><%= link_to t(:integrate_the_form_in_your_website), integrate_path %></h2>

<p>Ta page web peux être le centre d'action, nous serons des centaines et des
milliers de blogs qui permettrons l'envoi de courriers électroniques pour que
cesse le massacre qui a lieu actuellement au Sahara.</p>

<p>Si vous voulez intégrer notre formulaire dans votre site, il suffit simplement
de publier une nouvelle dans votre blog (Wordpress, Drupal, SPIP ou autres)
dans laquelle vous expliquez les motifs de cette action ainsi que le fait que
pour que les messages envoyés soient écoutés et compris parses destinataires
(detallar quienes son destinatarios !! par exemple des euro-parlementaires et
autres responsabilités politiques) ils doivent rester polis et clairs. De plus
il faut aussi savoir que chaque message envoyé sera reçu par chacun de ses
destinataires comme une courrier électronique individuel.
Afin d'intégrer notre formulaire il vous suffit de copier <a href="/resources/htmlformfr.txt">le code HTML</a> dans une
nouvelle publication de votre blog et de laisser celui ci bien visible pendant
tout le temps que dure l'action.</p>
