<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>Op dit moment hebben <%= @senders %>Europese burgers al een bericht verstuurd aan hun vertegenwoordigers in het Europarlement. In totaal zijn dat <%= @messages %> berichten.</p>

<p>Deze statistieken bevatten alleen de berichten die bevestigd zijn en dus aangekomen zijn bij de Europarlementariërs. <b>Nadat je je bericht getypt hebt in het formulier wordt het pas verzonden als je het bevestigd hebt middels de bevestigings-email</b>. Mocht je de bevestigings-email niet gezien hebben kijk dan in je Spam-mapje in je email.<p>
