<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>
Do tej pory już <%= @senders %> obywateli Unii Europejskiej wysłało wiadomość do swoich
reprezentantów. W sumie do  Parlamentu Europejskiego zostało wysłanych <%= @messages %>
wiadomości.</p>
