<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>Im Moment <%= @senders %> B체rger und B체rgerinnen der Europ채ischen Union haben eine Nachricht an unsere Vertreter geschickt. Also insgesamt <%= @messages %> Nachrichten an das Europ채ische Parlament.</p>
