<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>Adesso <%= @senders %> cittadini e cittadine della Unione Europea
hanno inviato i loro messaggi ai nostri ripresentanti. Allora sono
<%= @messages %> i messaggi consegnati al Parlamento Europeo.</p>
