<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>En estos momentos <%= @senders %> ciudadanos y ciudadanas de la Unión Europea han enviado su mensaje a nuestros representantes en el Parlamento Europeo.</p>
