<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>Αυτήν τη στιγμή, <%= @senders %> πολίτες της ευρωπαικής ένωσης έχουν ήδη στείλει
το μήνυμά στους αντιπροσώπους τους. Αυτό ισοδυναμεί με <%= @messages %> μηνύματα
προς το Ευρωπαικό κοινοβούλιο.</p>
