<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>Maintenant <%= @senders %> citoyens et citoyennes de l'Union Européenne
ont envoyés leur messages a nôtres représentants. Un total de <%= @messages %>
messages sont arrivés au Parlement Européen.</p>
