<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>Right now, <%= @senders %> European Union citizens have already sent their message to our representatives. That sums up <%= @messages %> messages delivered to the European Parliament.</p>
