<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>Nestes momentos <%= @senders %> cidad치ns e cidad치s da Uni칩n Europea te침en enviado a
sua mensaxe os nosos representantes.O que fai un total de <%= @messages %> mensaxes
entregadas no Parlamento Europeo</p>
