<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>Europear Batasuneko gure ordezkariei mementu honetan, <%= @senders %> europear
herritar bere mezua bidali diete. Guztira Europear legebiltzarrean <%= @messages %>
mezu entregatu dira.</p>
