<% @title = t(:stats) %>

<h2><%= link_to t(:stats), stats_path %></h2>

<p>Até agora <%= @senders %> cidadãos e cidadãs da União Europeia enviaran a sua
mensagem aos nossos representantes. O que perfaz um totalde <%= @messages %> mensagens
entregues ao Parlamento Europeu.</p>
