<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p><img style="float: right;padding:10px;" src="/images/sahara.png" alt="UE sahara" width="350" /><%= link_to "Wypełniając ten formularz", message_path %>
wyślesz e-mail do reprezentantów twojego kraju w
Parlamencie Europejskim. Proszę, wypełnij go w sposób jasny i z zachowaniem
szacunku.
Celem tego narzędzia jest umożliwienie ci dotarcie do każdego członka
Parlamentu Europejskiego z napisaną przez ciebie wiadomością (nie z gotowym,
skopiowanym tekstem).</p>

<p>Dziesiątego października, ponad 20,000 mieszkańców Sahary Zachodniej rozpoczęło
wielki pokojowy protest domagając się prawa do pracy, zaprzestania
dyskryminacji oraz do możliwości używania swoich zasobów naturalnych.
Rozbity został obóz 7,000 namiotów 15 km od miasta El Aaiún - stolicy Sahary
Zachodniej.

<p>30 dni później rząd marokański wysłał armię z rozkazem stłumienia
protestu i zlikwidowania obozu Agdaym Iziken.
W wyniku tych działań, 28 osób zginęło, 723 zostało rannych oraz 159 zaginęło,
nie licząc cywilów zamkniętych w więzieniach oraz tych którzy trafili do
szpitali albo zostali umieszczeni w obozach wojskowych.</p>

<p>W tym samym czasie okupujące siły Maroka uzbrajały osadników z miasta El Aaiún,
którzy razem z policjantami przebranymi w cywilne stroje włamywali się do
domów, firm oraz podpalali pojazdy obywateli Sahary.
Maroko zadeklarowało stan wojenny w okupowanych terytoriach Sahary Zachodniej.</p>

<p>W takiej sytuacji nie możemy stać bezczynnie i pozwolić aby zamilkły słuszne
żądania ludzi Sahary. Możemy pomóc cierpiącym represje.
Właśnie z tego powodu stworzyliśmy to narzędzie; aby wszelkimi sposobami
przekazywać uniwersalne żądanie sprawiedliwości, godności i poszanowania dla
życia tych, którzy dzisiaj są prześladowani przez wojskowe i paramilitarne siły
na ulicach El  Aaiún.
Wspólnie, używając tego narzędzia, możemy wpłynąć aby Parlament Europejski
zaprotestował przeciw tym aktom bezprawia.</p>

<p>Propozycje które mogą być przydatne przy redagowaniu twojej wiadomości:
   <ul>
      <li>Krótko objaśnij swoimi słowami sytuację, napisz co czujesz i co twój
przedstawiciel w Parlamencie Europejskim powinien w twoim imieniu zrobić.</li>
      <li>Poproś aby zażądano od rządu marokańskiego zaprzestania użysia siły
przeciw populacji Sahary w okupowanych terytoriach Sahary Zachodniej.</li>
      <li>Napisz własnymi słowami, że ONZ musi zareagować wymuszając przestrzeganie
2 artykułu uniwersalnej deklaracji praw człowieka, jak również rezolucji
przyjętych dla niesamorządnych terytoriów Sahary.</li>
      <li>Wyjaśnij, że powinni wpłynąć na ONZ aby Rada Bezpieczeństwa przyznała
MINURSO (Misja Narodów Zjednoczonych na rzecz Referendum na Saharze Zachodniej)
możliwośc monitorowania przestrzegania praw człowieka oraz zdawania raportu
bezpośrednio Radzie Bezpieczeństwa.</li>
      <li>Przypomnij, że zgodnie z rezolucjami Zgromadzenia Ogólnego ONZ, Rady
Bezpieczeństwa oraz Unii Afrykańskiej, ONZ jest zobowiązane do ochrony
populacji niesamorządnych terytoriów Sahary w czasie, kiedy one oczekują na
referendum o samożądności.</li>
      <li>Poproś aby upomniano się o zezwolenie cywilom na działanie jako
obserwatorzy przestrzegania praw człowieka jak również na wolny dostęp do
mediów.</li>
      <li>Poproś aby twój reprezentant wystąpił przed Parlamentem Europejskim i
zażądał jego interwencji w konflikt, jak również aby zwrócili się o to samo do
społeczności międzynarodowej.</li>
      <li>Poproś aby zażądali natychmiastowego uwolnienia nielegalnie
przetrzymywanych Saharyjczyków. Setki ludzi są uznane za zaginione albo
aresztowane.</li>
   </ul>
</p>
