<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>


<p><b>Stuur een bericht naar de vertegenwoordigers van jouw land in het
Europarlement, waarin je ze vraagt om onmiddelijk in actie te komen tegen het
geweld wat wordt toegepast door Marokko in de Westelijke Sahara.</b></p>

<ul>
<li>Stuur <a href="http://www.sahararights.net/message">jouw bericht</a></li>
<li><a href="http://www.sahararights.net/integrate">Integreer</a> het formulier
in je eigen web-pagina</li>
</ul>

<p>Door <a href="http://www.sahararights.net/message">dit  formulier</a> in te
vullen stuur je een email naar de vertegenwoordigers van je land in het Europese
Parlament in je eigen taal.  Schrijf alsjeblieft met respect en helderheid. Het
doel van deze  functie is om parlementslid met een uniek berichtje wat door
jezelf  geschreven is te bereiken.</p>

<p>Op  10 oktober 2010 begonnen 20.000 Sahrawi's een vreedzaam protest om hun 
rechten op werk terug te eisen, om de rechten op hun natuurlijke bronnen  en om
niet gediscrimineerd te worden. Dit deden ze door een kamp van  7000 Sahrawi's
te maken, 15 kilometer van El Aaiun (Laayoune, de  hoofdstad van de Westelijke
Sahara). Dertig dagen later stuurde de  Marokkaanse regering haar leger om het
kamp, gelegen bij Agdaym Izik, te  vernietigen. Elf mensen werden gedood, 723
mensen raakten gewond en 159  zijn er vermist. Dit is exclusief de burgers die
naar de gevangenis,  ziekenhuizen en legerkampen gestuurd werden.</p>

<p>Hierna  vestigde het Marokkaanse leger gewapende kolonisten en
politie-agenten  in burger in El Aaiun. Ze plunderden de huizen en verbrandden
de auto's  en vrachtwagens van de Sahrawi's. Het Marokkaanse leger heeft onlangs
 een Noodtoestand afgekondigd over de bezette gebieden van de Westelijke 
Sahara.</p>

<p>Stilte  is geen optie en er is geen manier om de Sahrawi's in hun schreeuw om
 een staakt het vuren het zwijgen op te leggen. Er is een mogelijkheid om  hen
te beschermen die onderdrukt worden. Dat is de reden dat we deze  site gemaakt
hebben; om op elke mogelijke manier gerechtigheid,  waardigheid en respect voor
de levens van de Sahrawi's af te dwingen. De  Sahrawi's worden vervolgd door
professionele en paramilitaire leger-eenheden op de straten van El Aaiun.
Tezamen kunnen we via deze  website het Europarlement te dwingen iets aan deze
hachelijke situatie  te doen.</p>


<p>Suggesties voor het opstellen van uw bericht:</p>

<ul>
<li>Leg in uw eigen woorden uit wat er zich voordoet, vertel hoe u
zich daarbij voelt en wat zij in uw naam zouden moeten doen.</li>

<li>Vraag hen dat zij de Marokkaanse regering eisen een eind te
maken aan het geweld tegen de Saharawische bevolking in de Bezette
Gebieden van de Westers Sahara.</li>

<li>Leg hen in uw eigen woorden uit dat de VN moet ingrijpen op
basis van artikel 2 van universele verklaring van de mensenrechten,
als mede de besluiten in verband met niet-zelfbestuurde gebieden.</li>

<li>Leg hen uit dat zij aan de VN moeten vragen dat de
Veiligheidsraad aan de MINURSO in staat stellen om the mensenrechten
te monitoren en direct aan de Veiligheidsraad te rapporteren.</li>

<li>Herinner hen er aan dat de VN verplicht is bevolkingen van
niet-zelfbestuurde gebieden te beschermen zolang zij in verwachting
verkeren van de uitvoering van het referendum voor zelfbeschikking
overeenkomstig het besluit van de Algemene Vergadering, de
Veiligheidsraad en de Afrikaanse Raad.</li>

<li>Eis van de Spaanse regering dat zij onmiddellijk de verkoop van
wapens aan de Alawietische regering stopzet, daar het bezettingsleger
deze gebruikt om de Saharawische bevolking te moorden, martelen en
onderdrukken.</li>

<li>Vraag hen dat burgers mogen worden toegelaten om internationale
observaties uit te voeren, alsook de vrije toegang aan de pers.</li>

<li>Eis dat zij zich uitspreken voor het Europees Parlement, haar
tussenkomst vragende als mede deze van de overige internationale
gemeenschap.</li>

<li>Vraag hen dat zij de onmiddellijke vrijlating eisen van illegaal
aangehouden Saharawis; er zijn honderden aangehouden en/of vermiste
personen.</li>
</ul>
