<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p><img style="float: right;padding:10px;" src="/images/sahara.png" alt="UE sahara" width="350" /><%= link_to "Enchendo este formulario", message_path %> lle farás chegar un correo teu ás/ e os representantes de tu país no Parlamento  Europeo na tua propia língoa. Pregámosche que o fagas con moito respeto e  claridade. O obxectivo desta ferramenta é que a europarlamentaria ou o  europarlamentario en concreto,  lle chegue unha mensaxe única e escrita coas  tuas propias verbas, sin empregar o método do "copia e pega".</p>

<p>O día dez de outubro comezou unha grande protesta pacífica, na que  máis de 20.000 saharauís reivindicaban o seu dereito ao traballo, á non  discriminación e ao usufructo dos seus recursos naturais, establecendo  un campamento de 7000 jaimas a 15 kilómetros da cidade de El Aaiún.  30 días despois o goberno de Marrocos ordeou ao seu exército  o asalto  e a destrucción do campamento saharauí de Agdaym Iziken. Teñénse contabilizado 28  persoas mortas, 723 feridas e 159 desaparecidas, sin contar a quenes  se atopan nos cuarteis militares ou a cadea, nin nos  hospitais.</p>

<p>Ao mesmo tempo, as forzas de ocupación teñen instigado e armado a  colonos da cidade de El Aaiún que, xunto cos policías de paisano,  asaltan domicilios, negocios e queiman vehículos de propiedade  saharauí.  O exército marroquino ven de declarar o Estado de sitio nos Territorios  Ocupados do Sáhara Occidental.</p>

<p>Non existe a opción do silencio como non existe a posibilidade de  frear as xustas demandas do pobo saharauí. O que sí existe é a  posibilidade de protexer a quenes están a sofrer a represión. Por elo  temos creado esta ferramenta, para facer chegar por todos os canles  posibeis a demanda universal de xustiza, dignidade e respeto pola  vida de quenes hoxe son perseguidos e perseguidas por militares profesionais e grupos paramilitares a través das rúas de El Aaiún. Entre todos/as  os/as que empreguemos esta ferramenta podemos colaborar para esixir ao  Europarlamento que se pronuncie.</p>

<p>Propostas a ter en conta na redacción da tua mensaxe:    
   <ul>
      <li>Explícalles con brevidade coas tuas propias verbas o que está a suceder, cóntalles como te sintes e que é o que deberían de facer no teu nome.</li>
      <li>Pídelles que lle esixan ao goberno marroquino o cese da  violencia que está a exercer contra da población saharauí nos  Territorios Ocupados do Sáhara Occidental.</li>
      <li>Explícalles coas tuas propias verbas que a ONU ten de tomar  cartas no asunto facendo cumplir o artigo 2 da Declaración  Universal dos Dereitos do Home, así como as resolucións adoptadas  para os Territorios Non Autónomos.</li>
      <li>Explícalles que teñen que pedir á ONU que o Consello de  Seguridade lle outorgue á MINURSO a capacidade de controlar o respeto dos Dereitos  Humáns, informando directamente ao Consello de Seguridade.</li>
      <li>Recórdalles que a ONU ten a obriga de protexer á  población dun Territorio Non Autónomo, mentras permanece á espera  da celebración do seu Referéndo de Autodeterminación, en conformidade  coas Resolucións da Asamblea Xeral, do Consello de Seguridade e  da Unión Africana.</li>
      <li>Reclama ao Goberno de Zapatero que deteña de inmediato a  venta de armas ao goberno alauita, coas que o exército de ocupación  asesiña, tortura e reprime ao pobo saharauí.</li>
      <li>Pídelles que levanten a sua voz para permitir a entrada de civís  que poidan facer o labor de observación internacional, ao mesmo que o  libre acceso da prensa.</li>
      <li>Esíxelles que se pronuncien diante do Parlamento Europeo,  demandando a intervención deste e do resto da comunidade  internacional.</li>
      <li>Pídelles que esixan a liberación inmediata dos/das saharauís  detidos/as ilegalmente, son centos de persoas desaparecidas ou detidas.</li>
   </ul>
</p>
