<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p><b>Envía unha mensaxe aos teus representantes no
Parlamento Europeo para que se pronuncien inmediatamente e esixan a
Marrocos que respecte os dereitos do pobo saharauí</b></p>

<ul>
<li>Envía  <a href="http://www.sahararights.net/message"> a túa mensaxe</a></li>
<li><a href="http://www.sahararights.net/integrate">Integra</a> o formulario na túa web</li>
</ul>

<p><img style="float: right;padding:10px;" src="/images/sahara.png" alt="UE
sahara" width="350" />Esta é unha campaña de emerxencia para esixir aos Europarlamentarios
do teu país que actúen inmediatamente polo Sahara: Enchendo <a
href="http://www.sahararights.net/message">este formulario</a>
enviarás automaticamente un correo ás/os representantes do teu país no
Parlamento Europeo na túa propia lingua.</p>

<p>O obxectivo desta ferramenta é que a europarlamentaria ou
europarlamentario en cuestión reciba unha mensaxe única e escrita coas
túas propias palabras, sen utilizar o método "copia e pega".</p>

<p>Escribe de xeito sinxelo e natural e sobre todo, por favor, faino con
moito respecto e claridade, só así nos farán caso.</p>

<p>Unha vez enchido o formulario, o teu texto será enviado ás contas de
correo dos/ás  representantes do teu país no Parlamento Europeo.</p>

<p>Tamén podes copiar este pequeno <a href="http://www.sahararights.net/integrate">código HTML</a> e pegalo
na túa web para integrar o formulario e ser miles de webs e blogs
solicitando o envío.</p>

<p>Creamos esta ferramenta para transmitir por todas as canles
posibles a demanda universal de xustiza, dignidade e respecto pola
vida dos que hoxe son perseguidas por militares profesionais e
cuadrillas paramilitares a través das rúas Do Aaiún.</p>

<p>Entre todos os que usemos esta ferramenta podemos colaborar para
esixir ao Europarlamento que se pronuncie. Se reciben centos de miles
de correos non poderán silenciarnos.</p>


<p>Propostas a ter en conta na redacción da tua mensaxe:</p>

<ul>
<li>Explícalles brevemente coas túas propias palabras o que está
sucedendo, cóntalles como te sentes e que deberían facer no teu nome.</li>

<li>Pídelles que lle esixan ao goberno marroquí o cesamento da
violencia que está a exercer contra a poboación saharauí nos
Territorios Ocupados do Sahara Occidental.</li>

<li>Esíxelles que se pronuncien ante o Parlamento Europeo, demandando a
intervención deste e do resto da comunidade internacional.</li>

<li>Pídelles que esixan a liberación inmediata dos saharauís detidos
ilegalmente, hai centos de persoas desaparecidas-detidas.</li>

<li>Explícalles coas túas propias palabras que a ONU debe de tomar
cartas no asunto facendo cumprir o artigo 2 da Declaración Universal
dos Dereitos Humanos, así como as resolucións adoptadas para os
Territorios No Autónomos.</li>

<li>Explícalles que deben pedir á ONU que o Consello de Seguridade
outorgue á MINURSO a capacidade de monitorizar os Dereitos Humanos,
informando directamente o Consello de Seguridade.</li>

<li>Recórdalles que a ONU ten a obriga de protexer a poboación dun
Territorio No Autónomo, mentres permanecen á espera da celebración do
Referendo de Autodeterminación, en conformidade coas Resolucións da
Asemblea Xeral, do Consello de Seguridade e da Unión Africana.</li>

<li>Pídelles que alcen a voz para permitir a entrada de civís que poidan
facer o labor de observación internacional, o igual que o libre acceso
á prensa.</li>
</ul>