<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p><img style="float: right;padding:10px;" src="/images/sahara.png" alt="UE sahara" width="350" /><%= link_to "Compilando questo modulo", message_path %> potrai inviare una e-mail ai rappresentanti del proprio paese nel Parlamento europeo nella tua lingua. Si prega di farlo con rispetto e chiarezza. Quello ci permetterà raggiungere ogni deputato con un messaggio unico scritto da te (cioè non usando "copia e incolla").</p>

<p>Il 10 ottobre, oltre 20.000 sahrawi hanno iniziato una protesta pacifica di grandi dimensioni per reclamare il loro diritto al lavoro, a non essere discriminati, e l'uso delle loro risorse naturali, attraverso la istituzione di un campo di 7.000 haimas a 15 km da El Ayun (Laâyoune, capitale del Sahara Occidentale). 30 giorni dopo, il governo marocchino ha inviato l'esercito ad assaltare e distruggere il campo sahrawi Agdaym Iziken. 28 persone sono state uccise, 723 sono state ferite e 159 disperse, senza contare i civili mandati in prigione, ospedali e campi militari.</p>

<p>Allo stesso tempo, le forze di occupazione del Marocco hanno istigato i coloni armati nella città di El Ayun, che insieme ai poliziotti in borghese, hanno fatto irruzione nelle case, aziende ed hanno bruciato i veicoli dei cittadini sahrawi. L'esercito del Marocco ha dichiarato lo stato di legge marziale sui territori occupati del Sahara Occidentale.</p>

<p>Il silenzio non è un'opzione se come non c'è la possibilità di fermare le giuste rivendicazioni del popolo Sahrawi. Dall'altra parte, c'è la capacità di proteggere coloro che sono vittime della repressione. Questo è il motivo per cui abbiamo creato questo strumento, per trasmettere con ogni mezzo possibile la domanda universale di giustizia, di dignità e rispetto per la vita di coloro che oggi sono perseguitati dalle forze professionali e paramilitari per le strade di El Ayun. Insieme si può, utilizzando questo strumento, cooperare per chiedere al Parlamento europeo di pronunciarsi contro questi atti.</p>


<p>Le proposte devono essere considerate nella redazione del messaggio:
   <ul>
      <li>Spiega brevemente con le tue parole che cosa sta succedendo, dicendo come ti senti e cosa dovrebbero fare nel vostro nome.</li>
      <li>Chiedegli di domandare che il governo marocchino deve cessare di utilizzare la violenza contro la popolazione sahrawi nei territori occupati del Sahara Occidentale.</li>
      <li>Racconta con le tue parole che l'ONU deve agire per far rispettare l'articolo 2 della Dichiarazione Universale dei Diritti dell'uomo, così come le risoluzioni adottate per i territori non autonomi del Sahara.</li>
      <li>Spiegagli che cosa dovrebeno chiedere alle Nazioni Unite di avere la concessione per fare al MINURSO avere la capacità di monitorare i diritti umani e riferisce direttamente al Consiglio di Sicurezza dell'ONU.</li>
      <li>Ricordagli che l'ONU ha l'obbligo di proteggere la popolazione de i territori non auto governati, mentre si attendono un referendum di autodeterminazione, in conformità con le risoluzioni dell'Assemblea generale delle Nazioni Unite, Consiglio di sicurezza dell'ONU e dell'Unione africana.</li>
     <li>Chiedigli di alzare le loro voci, per permettere ai civili di agire come osservatori dei diritti umani anche il libero accesso alla stampa.</li>
     <li>La domanda che essi si trovano di fronte al Parlamento europeo è chiedere di intervenire nel conflitto, così come chiede la stessa della comunità internazionale.</li>
     <li>Chiedigli di domandare il rilascio immediato dei sahrawi detenuti illegalmente, ci sono centinaia di persone disperse o arrestate.</li>
   </ul>
</p>
