<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p><img style="float: right;padding:10px;" src="/images/sahara.png" alt="UE sahara" width="350" /><%= link_to "Omplint aquest formulari", message_path %> enviaràs un correu a les/els representants del teu país al Parlament Europeu en la teva pròpia llengua. Si us plau, fes-ho amb molt respecte i claredat. L'objectiu d'aquesta eina és que l'europarlamentària o l'europarlamentari en qüestió, rebi un missatge únic i escrit amb les teves pròpies paraules, sense utilitzar el mètode "còpia i enganxa".</p>

<p>El dia deu d'octubre va començar una gran protesta pacífica, en la qual més de 20.000 sahrauís reivindicaven el seu dret al treball, a la no discriminació i a l'usdefruit dels seus recursos naturals, establint un campament de 7000 haimas a 15 quilòmetres de la ciutat de l'Aaiún. 30 dies després el govern del Marroc va ordenar al seu exèrcit l'assalt i la destrucció del campament sahrauí de Agdaym Iziken. Hi ha hagut 28 persones mortes, 723 ferides i 159 desaparegudes, sense comptar els qui es troben en les casernes militars o la presó, ni als hospitals.</p>

<p>Al mateix temps, les forces d'ocupació han instigat i armat a colones de la ciutat de l'Aaiún que, al costat de policies de paisà, assalten domicilis, negocis i cremen vehicles de propietat sahrauí. L'exèrcit marroquí ha declarat l'Estat de setge als Territoris Ocupats del Sàhara Occidental.</p>

<p>No existeix l'opció del silenci com no existeix la possibilitat d'aturar les justes demandes del poble sahrauí. El que sí existeix és la possibilitat de protegir a els qui estan patint la repressió. Per això hem creat aquesta eina, per transmetre per tots els canals possibles la demanda universal de justícia, dignitat i respecte per la vida d'els qui avui són perseguides per militars professionals i quadrilles paramilitars a través dels carrers de l'Aaiún. Entre totes les que fem servir aquesta eina podem col·laborar per exigir al Europarlament que es pronunciï.</p>

<p>Propostes a tenir en compte en la redacció del teu missatge:
   <ul>
      <li>Explica'ls breument amb les teves pròpies paraules el que està succeint, explica'ls com et sents i que haurien de fer en el teu nom.</li>
      <li>Demana'ls que li exigeixin al govern marroquí el cessament de la violència que està exercint contra la població sahrauí als Territoris Ocupats del Sàhara Occidental.</li>
      <li>Explica'ls amb les teves pròpies paraules que l'ONU deu prendre cartes en l'assumpte fent complir l'article 2 de la Declaració Universal dels Drets Humans, així com les resolucions adoptades per als Territoris No Autònoms.</li>
      <li>Explica'ls que han de demanar a l'ONU que el Consell de Seguretat atorgui a la MINURSO la capacitat de supervisar els Drets Humans, informant directament al Consell de Seguretat.</li>
      <li>Recorda'ls que l'ONU té l'obligació de protegir a la població d'un Territori No Autònom, mentre romanen a l'espera de la celebració del Referèndum d'Autodeterminació, de conformitat amb les Resolucions de l'Assemblea General, del Consell de Seguretat i de la Unió Africana.</li>
      <li>Reclama al Govern de Zapatero que aturi immediatament la venda d'armes al govern alauita, amb les quals l'exèrcit d'ocupació assassina, tortura i reprimeix al poble sahrauí.</li>
      <li>Demana'ls que alcin la veu per permetre l'entrada de civils que puguin fer la labor d'observació internacional, igual que lliure accés a la premsa.</li>
      <li>Exigeix-los que es pronunciïn davant el Parlament Europeu, demandant la intervenció d'aquest i de la resta de la comunitat internacional.</li>
      <li>Demana'ls que exigeixin l'alliberament immediat de les sahrauís detingudes il·legalment, hi ha centenars de persones desaparegudes-detingudes.</li>
   </ul>
</p>
