<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p><img style="float: right;padding:10px;" src="/images/sahara.png" alt="UE sahara" width="350" />

<p><%= link_to "Ao preencher este formulário", message_path %>
    enviará um e-mail aos representantes
    do seu país no Parlamento Europeu em português. Por favor, utilize
    uma linguagem educada e seja claro na sua exposição. O objectivo
    desta ferramenta é que o/a eurodeputado/a em questão receba uma
    mensagem única e escrita por si, sem utilizar um texto predefinido.<p>

<p> No passado dia 10 de Outubro, iniciou-se um grande protesto
    pacífico, no qual mais de 20.000 saharauis reivindicavam o seu
    direito ao trabalho, contra a discriminação e ao  usufruto dos seus
    recursos naturais, estabelecendo um acampamento de 7000 tendas a 15
    quilómetros da cidade de El Aaiún. Após 30 dias o governo  de
    Marrocos ordenou ao seu exército assaltar e destruir o acampamento
    saharaui de Agdaym Iziken. Verificaram-se 28 mortos,  723 feridos e
    159 desaparecidos, sem contar com os que se encontram detidos em
    quartéis militares ou prisões, ou estão hospitalizados.</p>

<p> Simultaneamente as forças de ocupação instigaram e armaram colonos
    marroquinos da cidade de El Aaiún que, com polícias à paisana,
    assaltam casas, negócios e queimam veículos de saharauis.  O
    exército marroquino declarou o estado de sítio nos territórios
    ocupados do Sahara Ocidental.</p>

<p> Não existe a opção do silêncio assim como não existe a possibilidade
    de calar as justas reivindicações do povo saharaui. O que existe,
    isso sim, é a possibilidade de proteger aqueles que sofrem sob a
    repressão. Para eles criamos esta ferramenta, para transmitir por
    todos os meios possíveis a exigência universal de justiça, dignidade
    e respeito pela vida daqueles que hoje são perseguidos por militares
    profissionais e grupos paramilitares  nas ruas  de El Aaiún. Todos
    nós podemos utilizar esta ferramenta para exigir ao Parlamento
    Europeu que se pronuncie.</p>

<p> Propostas a ter em conta na redacção da sua mensagem:</p>

<ul>
    <li>Explicar sucintamente o que está a acontecer, revelando o que sente
    e o que gostaria que se fizesse.</li>

    <li>Pedir que exijam ao governo marroquino que cesse a violência que
    está a exercer contra a população saharaui nos Territórios Ocupados
    do Sahara Ocidental.</li>

    <li>Explicar pelas suas próprias palavras que a ONU deve fazer cumprir
    o artigo 2 da  Declaração Universal dos Direitos Humanos, assim como
    as resoluções adoptadas para os Territórios Não Autónomos.</li>

    <li>Explicar que devem pedir à ONU que o Conselho de Segurança
    outorgue à MINURSO a capacidade de monitorizar os Direitos Humanos,
    informando directamente o Conselho de Segurança.</li>

    <li>Recordar que a ONU tem a obrigação de proteger a população de um
    Território Não Autónomo, enquanto esta espera a realização
    do Referendo de Autodeterminação, em conformidade com as Resoluções
    da Assembleia Geral, o Conselho de Segurança e da União Africana.</li>

    <li>Pedir que levantem a voz para permitir a entrada de civis que podem
    fazer o trabalho de observação internacional, e igualmente livre
    acesso aos meios de comunicação social.</li>

    <li>Exigir que se pronunciem perante o Parlamento Europeu, exigindo a
    intervenção deste e do resto da comunidade internacional.</li>

    <li>Pedir que exijam a libertação imediata dos saharauis ilegalmente
    detidos, há centenas de pessoas desaparecidas-detidas.</li>
</ul>

