<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p><img style="float: right;padding:10px;" src="/images/sahara.png" alt="UE sahara" width="350" /><%= link_to "Formulario hau betez gero", message_path %> Europar Parlamentuko zure herriko ordezkariei posta mezu bat bidaliko diezu zeure hizkuntzan. Mesedez, saia zaitez argitasunez eta adeitasunez egiten . Tresna honen helburua Parlamentarioak mezu aberatsa, zeure hitzez egindakoa, jasotzea da. Ez erabili ?kopia eta itsatsi? metodoa.</p>

<p>Urriaren 10ean, 20.000 sahararrek lana izateko, diskriminaziorik ez izateko eta bere herriko baliabide naturalen gozamena izateko eskubideak errebindikatzeko protesta baketsu handia hasi zuten, Aaiundik 15 km.etara 7000 haimek osatzen zuten kanpalekua eraikiz. Hogeita hamar egun beranduago, Marokoko Gobernuak Agdeim  Izik izeneko kanpaleku hura eraso eta suntsitzeko agindu zion armadari. Egundaino  28 hildako, 723 zauritu eta 159 desagertu konta daitezke, kuarteletan edo kartzelan preso eta ospitaleetan daudenak zenbatu gabe.</p>

<p>Gainera, okupazio indarrek marokoar kolonoak armatu dituzte eta, kalerako jantzitako polizien laguntzaz, sahararren etxeak edo dendak erasotzeko edo eta ibilgailuak erretzeko bultzatu dituzte. Mendebaldeko Saharako lurralde okupatuetan Marokoar Armadak berak Setio egoera aldarrikatu du.</p>

<p>Egoera honen aurrean ez dago isilpenerako aukerarik, Sahararren eskaera justuak geldiarazteko aukerarik ez dagoen legez. Baina bada errepresioa jasaten duteneei babesa eta elkartasuna emateko aukera. Horrexegatik sortu dugu tresna hau, gaur egun Aaiungo kaleetan militar profesionalek eta paramilitarren taldeek oldartuak diren pertsonen duintasuna, justizia eta errespetuarekiko eskaera unibertsala ahalik eta kanale gehienen bitartez aldarrikatzeko. Tresna hau erabiliko dugun guztion artean Europarlamentuak hitza har dezala exijitu dezakegu.</p>

<p>Mezua idazterakoan zenbait iradokizun:  
   <ul>
      <li>Adierazi laburki, zeure hitzez zer gertatzen ari den, nola sentitzen zaren eta zer egin dezaketen zure izenean.</li>
      <li>Eskatu Marokoko Gobernuari exiji diezaiotela  Mendebaldeko Saharako Lurralde Okupatuetan erabiltzen duen bortizkeria bertan behera utz dezala.</li>
      <li>Adierazi zure hitzez NBEk, Giza Eskubideen Aldarrikapen Unibertsaleko 2. atala eta Lurralde Ez-Autonomoen inguruko legeria aplikatuz, esku hartu behar duela egoera honetan.</li>
      <li>Adierazi, zure ustez, NBEko Segurtasun Kontseiluak lehen bait lehen MINURSIOri esku eman behar diola giza eskubideak zaintzeko, gertatzen denaz zuzen Segurtasun Kontseiluari informatuz.</li>
      <li>Gogorarazi NBEk, Asanblada Orokorraren, Segurtasun Kontseiluaren eta Afrikako Batasunaren ebazpen ugariren arabera, Lurralde Ez-Autonomoetako populazioa babesteko beharra duela autodeteminaziorako erreferenduma egin bitartean.</li>
      <li>Galdegin Zapateroren gobernuari Marokoko gobernuak Saharar Herria erreprimitzeko, hiltzeko eta torturatzeko erabiltzen dituen armen salmenta bertan behera uzteko.</li>
      <li>Eskatu argi eta ozen galdegin diezaiotela Marokoko gobernuari komunikabide independente eta kanpoko zibilak libreki sartu eta ibiltzeko eskubidea berma dezala, behar den behatze lana egin ahal izateko.</li>
      <li>Exijitu bai Europar Parlamentuaren eta bai beste Nazioartekok Erakundeen adierazpenak eska ditzatela.</li>
      <li>Eskatu ilegali atxilotutako sahararren berehalako askapena exiji dezatela. Gogoratu ehunka pertsona daudela atxilotu-desagertuak.</li>
   </ul>
</p>
