<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p><%= link_to "Συμπληρώνοντας αυτή τη φόρμα", message_path %> θα στείλετε ένα e-mail στους εκπροσώπους της χώρας σας στο Ευρωπαϊκό Κοινοβούλιο, στη δική σας γλώσσα. Παρακαλώ, γράψτε με σεβασμό και σαφήνεια. Ο σκοπός αυτού του προγράμματος είναι να σας βοηθήσει να στείλετε ένα προσωπικό μήνυμα σε κάθε βουλευτή (χωρίς να χρησιμοποιηθεί "copy & paste").</p>

<p>Στις 10 Οκτωβρίου, πάνω από 20.000 σαχράουϊ ξεκίνησαν μια μεγάλη ειρηνική διαμαρτυρία για να διεκδικήσουν το δικαίωμά τους στην εργασία, να μην υφίστανται διακρίσεις, καθώς και το δικαίωμα στη χρήση των φυσικών πόρων τους, με τη δημιουργία ενός στρατοπέδου των 5.000 haimas 15 χιλιόμετρα μακριά από το Ελ Αγιούν (Laayoune, πρωτεύουσα της Δυτικής Σαχάρας).</p>

<p>30 ημέρες αργότερα, η κυβέρνηση του Μαρόκο έστειλε το στρατό της να επιτεθεί και να καταστρέψει το στρατόπεδο των Σαχράουι στην Agdaym Iziken. 11 άνθρωποι σκοτώθηκαν, 723 τραυματίστηκαν και 159 είναι αγνοούμενοι, χωρίς να υπολογίζονται οι άμαχοι που έχουν σταλεί στην φυλακή, σε νοσοκομεία και στρατόπεδα.</p>

<p>Την ίδια στιγμή, οι δυνάμεις κατοχής του Μαρόκο ενθαρρύνουν τον εποικισμό και οπλίζουν τους εποίκους στην πόλη του Ελ Αγιούν, οι οποίοι, μαζί με αστυνομικούς με πολιτικά, εφορμούν σε σπίτια και επιχειρήσεις των Σαχράουι. Ο στρατός του Μαρόκο έχει κηρύξει σε κατάσταση στρατιωτικού νόμου τα κατεχομένα εδαφη της Δυτικής Σαχάρας.</p>

<p>Η σιωπή δεν αποτελεί επιλογή, και τίποτε δεν μπορεί να σταματήσει τα δίκαια αιτήματα του λαού των Σαχράουι. Υπάρχει η δυνατότητα για την προστασία αυτών που υποφέρουν από την καταστολή. Αυτός είναι ο λόγος που δημιουργήσαμε αυτό το εργαλείο: να μεταδόσουμε με κάθε μέσο την καθολική απαίτηση για δικαιοσύνη, αξιοπρέπεια και σεβασμό για τις ζωές αυτών που σήμερα διώκονται από τις επαγγελματικές και τις παραστρατιωτικές δυνάμεις στους δρόμους του Ελ Αγιούν. Μαζί μπορούμε, με τη χρήση αυτού του εργαλείου, να συνεργάστούμε και να απαιτήσουμε από την Ευρωβουλή να διαμαρτυριθεί ενάντια σε αυτές τις πράξεις.</p>


<p>Στοιχεια που πρέπει να ληφθόυν υπόψιν κατά τη σύνταξη του μηνύματός σας:
   <ul>
      <li>Εξηγήστε εν συντομία με δικά σας λόγια τι συμβαίνει. Πείτε πώς αισθάνεστε και τι πιστεύετε οτι πρέπει να κάνουν για λογαριασμό σας.</li>
      <li>Ζητήστε τους να απαιτήσουν από τη μαροκινή κυβέρνηση να παύσει να χρησιμοποιεί βία εναντίον του πληθυσμού των Σαχραουί στα κατεχόμενα εδάφη της Δυτικής Σαχάρας.</li>
      <li>Ενημερώστε τους με δικά σας λόγια ότι ο ΟΗΕ πρέπει να αναλάβει δράση με την επιβολή του άρθρου 2 της Οικουμενικής Διακήρυξης των Δικαιωμάτων του Ανθρώπου, καθώς και τα ψηφίσματα που εγκρίθηκαν για τα μη αυτοδιοικούμενα εδάφη της Σαχάρας.</li>
      <li>Εξηγήστε τους ότι θα πρέπει να ζητήσουνε από τον ΟΗΕ, το Συμβούλιο Ασφαλείας να δώσει τη δυνατότητα στη MINURSO να παρακολουθεί τα άνθρωπινα Δικαιωμάτα, αναφερόμενη απευθείας στο Συμβούλιο Ασφαλείας του ΟΗΕ.</li>
      <li>Υπενθυμίστε τους ότι ο ΟΗΕ έχει την υποχρέωση να προστατεύσει τον πληθυσμό των μη αυτοδιοικούμενων εδάφων, ενώ περιμένουν το δημοψήφισμα για την αυτοδιάθεση, σύμφωνα με τα ψηφίσματα της Γενικής Συνέλευσης του ΟΗΕ, Συμβούλιο Ασφαλείας του ΟΗΕ και της Αφρικανικής Ένωσης.</li>
      <li>Ζητήστε τους να υψώσουν τη φωνή τους,ώστε να επιτρέπεί σε πολίτες να ενεργούν ως παρατηρητές ανθρωπίνων δικαιωμάτων, καθώς και να επιτραπεί η δωρεάν πρόσβαση στον Τύπο.</li>
      <li>Απαιτήστε να ζητήσουν απο το Ευρωπαϊκό Κοινοβούλιο να παρέμβει στη σύγκρουση, καθώς και να ζητήσουν το ίδιο απο τη διεθνή κοινότητα.</li>
      <li>Ζητήστε τους να απαιτήσουν την άμεση απελευθέρωση των παράνομα κρατουμένων Σαχράουι: Υπάρχουν εκατοντάδες άνθρωποι που φέρονται ως αγνοούμενοι ή έχουν συλληφθεί.</li>
   </ul>
</p>
