<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p>Door <a href="http://www.sahararights.net/message">dit  formulier</a> in te vullen stuur je een email naar de  afgevaardigden van jouw land in het Europese Parlament in je eigen taal.  Schrijf alsjeblieft met respect en helderheid. Het doel van deze  functie is om parlementslid met een uniek berichtje wat door jezelf  geschreven is te bereiken.</p>

<p>Op  10 oktober 2010 begonnen 20.000 Sahrawi's een vreedzaam protest om hun  rechten op werk terug te eisen, om de rechten op hun natuurlijke bronnen  en om niet gediscrimineerd te worden. Dit deden ze door een kamp van  7000 Sahrawi's te maken, 15 kilometer van El Aaiun (Laayoune, de  hoofdstad van de Westelijke Sahara). Dertig dagen later stuurde de  Marokkaanse regering haar leger om het kamp, gelegen bij Agdaym Izik, te  vernietigen. Elf mensen werden gedood, 723 mensen raakten gewond en 159  zijn er vermist. Dit is exclusief de burgers die naar de gevangenis,  ziekenhuizen en legerkampen gestuurd werden.</p>

<p>Hierna  vestigde het Marokkaanse leger gewapende kolonisten en politie-agenten  in burger in El Aaiun. Ze plunderden de huizen en verbrandden de auto's  en vrachtwagens van de Sahrawi's. Het Marokkaanse leger heeft onlangs  een Noodtoestand afgekondigd over de bezette gebieden van de Westelijke  Sahara.</p>

<p>Stilte  is geen optie en er is geen manier om de Sahrawi's in hun schreeuw om  een staakt het vuren het zwijgen op te leggen. Er is een mogelijkheid om  hen te beschermen die onderdrukt worden. Dat is de reden dat we deze  site gemaakt hebben; om op elke mogelijke manier gerechtigheid,  waardigheid en respect voor de levens van de Sahrawi's af te dwingen. De  Sahrawi's worden vervolgd door professionele en paramilitaire  leger-eenheden op de straten van El Aaiun. Tezamen kunnen we via deze  website het Europarlement te dwingen iets aan deze hachelijke situatie  te doen.</p>

<p>Zaken om rekening te houden in het maken van je berichtje:
   <ul>
      <li>Leg kort en duidelijk in je eigen woorden uit wat er aan de hand is  in de Westelijke Sahara, en vertel wat jij vindt dat het Europarlement  dient te doen om deze situatie op te lossen.</li>
      <li>Vraag het Europarlement om de Marokkaanse regering te dwingen om het  geweld tegen de Sahrawi's in de Bezette Gebieden van de Westelijke  Sahara te stoppen.</li>
      <li>Vertel ze kort in je eigen woorden dat de Verenigde Naties ook in  actie moeten komen door Artikel 2 van de Universele Verklaring van de  Rechten van de Mens af te dwingen.</li>
      <li>Vertel ze dat ze Veiligheidsraad van de Verenigde Naties kunnen  vragen MINURSO het recht te geven de Rechten van de Mens te controleren  in de Westelijke Sahara, en dat ze hun bevindingen direct dienen door te  geven aan de Veiligheidsraad van de VN.</li>
      <li>Herinner het Europarlement dat ze de de VN zeggen dat de VN een  belofte heeft om de bevolking van gebieden als de Westelijke Sahara te  beschermen, op basis van het feit dat de Westelijke Sahara zelf geen  regering heeft. De Westelijke Sahara wacht op een referendum van  zelfbeschikking, in overeenkomst me de resoluties van de VN Algemene  Vergadering, de VN Veiligheidsraad en de Afrikaanse Unie.</li>
      <li>Vraag ze om hun stemmen te doen verheffen, om burgers in staat te  stellen de Rechten van de Mens te controleren en om de pers vrij toe te  laten in de Bezette gebieden.</li>
      <li>Vraag of ze voor het hele Europarlement gaan staan en vragen om in  het conflict in te grijpen, en om hetzelfde te vragen van de  Internationale Gemeenschap.</li>
      <li>Vraag ze of ze te onmiddelijke vrijlating van de (onterecht) gevangen  genomen Sahrawi's bepleiten; er worden honderden mensen vermist.</li>
   </ul>
</p>
