<% @title = t(:home) %>

<h2><%= link_to t(:introduction), root_url %></h2>

<p><%= link_to "Ved at udfylde denne formular", message_path %>
kan du sende en email på dit sprog til
dit lands repræsentanter i  Europaparlamentet. Skriv tydeligt og vær
venlig og respektfuld. Formålet er at lade dig få kontakt til alle
parlamentsmedlemmer med en unik besked, som du selv har skrevet - vær
sød ikke bare at kopiere herfra.</p>

<p>Den 10. oktober påbegyndte over 20.000 sahrawier en stor og fredelig
protest for at forsvare sin ret til at arbejde, til ikke at blive
diskrimineret og til at benytte sine natur-ressourcer. De etablerede
en lejr med 7.000 telte 15 km fra hovedstaden i Vestsahara, El Aaiún.</p>

<p>30 dage efter sendte den marokanske regering sin hær til at angribe og
ødelægge sahrawi-lejren Agdaym Iziken. 28 blev dræbt, 723 såret og 159
mennesker er forsvundet. Disse tal inkluderer ikke de civile, som blev
sendt i fængsel, på hospitaler eller til militær-lejre.</p>

<p>Samtidig har den marokanske besættelseshær støttet og bevæbnet
bosættere i byen El Aaiún, som sammen med civilklædte politibetjente
brød ind i folks huse og forretninger og satte ild til sahrawi-folks
biler. Den marokanske hær har erklæret undtagelsestilstand i alle de
besatte områder i Vestsahara.</p>

<p>Vi kan ikke være tavse, og sahrawi-folkets retfærdige krav kan ikke
forties. Men vi kan beskytte dem, der lider under undertrykkelsen.
Derfor har vi skabt dette værktøj; for at viderebringe de universelle
krav om retfærdighed, værdighed og respekt for dem, som idag bliver
forfulgt af professionelle og paramilitære styrker i El Aaiúns gader.
Med dette værktøj kan vi arbejde sammen og kræve at Europaparlamentet
beskytter befolkningen.</p>


<p>Forslag til hvad du kan inkludere i din besked:</p>

<ul>
<li>Forklar kort, i dine egne ord, hvd der sker. Fortæl dem, hvordan du
føler og hvad du synes, de bør gøre.</li>
<li>Bed dem om at kræve, at den markokanske regering stopper med at
bruge vold mod sahrawi-befolkningen i det besatte Vestsahara.</li>
<li>Fortæl dem i dine egne ord, at FN må gribe ind ved at håndhæve
Artikel 2 i Menneskerettighedserklæringen, samt de resolutioner, der
vedrører de ikke-autonome områder i Vestsahara.</li>
<li>Forklar dem at de bør bede FN om at få Sikkerhedsrådet til at give
MINURSO magt til at overvåge menneskerettighederne og rapportere
direkte til FNs sikkerhedsråd.</li>
<li>Mind dem om, at FN har pligt til at beskytte befolkningen i de
ikke-autonome områder, mens befolkningen venter på en folkeafstemning
om selvbestemmelse, i overensstemmelse med FNs Generalforsamlings,
Sikkerhedsrådets og Den Afrikanske Unions erklæringer.</li>
<li>Bed dem om, at bruge deres indflydelse til at kræve civile
menneskerettighedsobservatører og at pressen kan bevæge sig frit.</li>
<li>Kræv at de benytter sit sæde i Europaparlamentet til at bede det om
at gribe ind i konflikten, og at de kræver det samme af det
internationale samfund.</li>
<li>Bed dem om at kræve øjeblikkelig løsladelse af de illegalt
internerede sahrawier; der er hundredvis af mennesker, som er savnet
eller anholdt.</li>
</ul>

